body {
	background-color: #000e1b;
	background-image: url("thing2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #721d56;
	font-family: 'Syne Mono', monospace;
	margin: 0;
}

input {
	font-family: inherit;
}

button {
	font-family: inherit;
	font-size: 16px;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: 12px;
	border: none;
}

.shadow {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.block {
	background-color: #111;
	padding: 16px;
	margin: 16px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 5vh;
	width: 80%;

}

.block2 {
	font-size: 6vh;
	padding: 8px;
	margin: 8px;
	text-align: center;
}

#app {
	background-color: rgba(0, 0, 0, 0);
	width: 80%;
	min-height: 400px;
	margin: auto;
	margin-top: 12px;
	display: flex;
	flex-flow: wrap column;
	justify-content: center;
	backdrop-filter: blur(64px);
	border-radius: 8px;
}

input {
	font-size: 3vh;
	margin: 12px;
}